# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Google Credentials
credentials.json

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Docker
db_data/
